.maincontainer{
    background-color: var(--white);
    height: 1193px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 83px;
    flex-wrap: wrap;
}

.firstcolumn{
/* border: 2px red solid; */
}

.sponsors{
    /* border: 2px orange solid; */
    height: 42px;
    width: 593px;
    align-items: center;
    background-image: url("./src/assets/Group 5.jpg");
    background-size: cover;
    background-position: center;
}

.content{
    /* border: 2px green solid; */
    height: 897px;
    width: 565px;
    color: var(--secondary);
    font-family: 'proximanova-regular-webfont';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    padding-top: 31px;
}

p {
    padding-bottom: 20px; /* Establece un espacio interno de 20 píxeles después de cada párrafo */
}

.secondcolumn{
    border: 2px violet solid;
    height: 822px;
    width: 463px;
    margin-left: 101px;

}