.maincontainer{
    background-color: var(--white);
    height: 1193px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 83px;
    flex-wrap: wrap;
}

/* .firstcolumn{
 border: 2px red solid; 
} */

.sponsors{
    /* border: 2px orange solid; */
    height: 42px;
    width: 593px;
    align-items: center;
    background-image: url("../../assets/Group 5.jpg");
    background-size: cover;
    background-position: center;
}

.content{
    /* border: 2px green solid; */
    height: 897px;
    width: 565px;
    color: var(--secondary);
    font-family: 'proximanova-regular-webfont';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    padding-top: 31px;
}

p {
    padding-bottom: 20px; /* Establece un espacio interno de 20 píxeles después de cada párrafo */
}

.secondcolumn{
    /* border: 2px violet solid; */
    height: 822px;
    width: 463px;
    margin-left: 101px;
    background-color: var(--shadow);

}



@media (max-width: 1024px) {
  /* Estilos para pantallas de hasta 1024px de ancho */
  .maincontainer {
    padding-top: 40px; /* Ajuste de espaciado superior en pantallas pequeñas */
    height: fit-content;
    margin-bottom: 50px;
  }

  .firstcolumn,
  .secondcolumn {
    padding-left: 20px; /* Espaciado interno aumentado en pantallas pequeñas */
    padding-right: 20px; /* Espaciado interno aumentado en pantallas pequeñas */
  }

  .secondcolumn {
    margin-top: 90px;
    margin-left: 0px;
  }

  .sponsors {
    height: 32px; /* Ajuste de altura en pantallas pequeñas */
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .content {
    font-size: 14px; /* Tamaño de fuente reducido en pantallas pequeñas */
    line-height: 24px; /* Altura de línea reducida en pantallas pequeñas */
    width: 385px;
  }
}

@media (max-width: 380px) {
  /* Estilos para pantallas de hasta 380px de ancho */
  .maincontainer {
    height: auto;
    padding-top: 20px;
    flex-direction: column; /* Cambia la dirección de la fila a columna */
    padding-top: 0px;
  }

  .sponsors {
    width: 90%; /* Ocupa todo el ancho disponible */
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 88px;
  }

  .content {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding-top: 15px; /* Espaciado superior reducido */
    font-size: 14px; /* Tamaño de fuente reducido */
    line-height: 24px; /* Espaciado entre líneas reducido */
  }

  .secondcolumn {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-left: 0; /* Sin margen izquierdo */
    height: auto; /* Altura automática */
    background-color: var(--white); /* Cambia el color de fondo */
  }
}
 
  

  



    

