.footercontainer{
    background-color: var(--shadow);
    height: 160px;
    width: 100%;
    /* border: 2px solid red; */
}

.firstline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    /* border: 2px solid blue; */
    margin-left: 149px;
    margin-right: 149px;
    padding-top: 30px;
    align-items: center;
}

.date{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'proximanova-regular-webfont';
    font-size: 16px;
    color: #405457;
    letter-spacing: 0;
    width: 205px;
    height: 62px;
    /* border: 2px solid green; */
    text-align: center;
}

.socialicons{
    /* border: 2px solid violet;  */
    height: 45px;
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 45px;
    cursor: pointer;
    color: white;
}

.icon{
    height: 45px;
    width: 45px;
    fill: #CFCFCF;
    border-radius: 50%;
   
}


.secondline{
    margin-left: 149px;
    margin-right: 149px;
    margin-top: 22px;
    color: #CFCFCF;
}

hr{
    color: var(--shadow);
}

/* Media query para ajustar estilos en dispositivos móviles */
@media (max-width: 768px) {
    .firstline {
      margin-left: 0;
      margin-right: 0;
    }
  
    .date {
      width: 100%;
      height: auto;
      margin-bottom: 0;
    }
  
    .socialicons {
      justify-content: center;
      gap: 20px; /* Espaciado entre íconos ajustado */
    }
  
    .icon {
      height: 60px;
      width: 60px;
    }
  
    .secondline {
      display: block; /* Mostrar la segunda línea en dispositivos móviles */
      margin-top: 20px; /* Espaciado superior agregado en dispositivos móviles */
    }
  
    hr {
      display: block; /* Mostrar la línea horizontal en dispositivos móviles */
    }
  }