:root{
  --primary:  #02363D ;
  --secondary: #405457;

  --white: #FFFFFF;
  --shadow: #F8F9F9;
  --grey: rgb(232,232,232);
  --input-border: #68737D;
  --grey-footer: rgb(204,204,204);

  --accent: #C05100;
}

*{
  font-family: 'proximanova-regular-webfont', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

@font-face {
  font-family: 'proxima_nova_alt_bold-webfont';
  src: url('./static/fonts/proxima_nova_alt_bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'proxima_nova_alt_bold-webfont';
  src: url('./static/fonts/proxima_nova_alt_bold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'proxima_nova_alt_light-webfont';
  src: url('./static/fonts/proxima_nova_alt_light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'proxima_nova_alt_light-webfont';
  src: url('./static/fonts/proxima_nova_alt_light-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'proxima_nova_alt_thin-webfont';
  src: url('./static/fonts/proxima_nova_alt_thin-webfont.woff') format('woff');
}

@font-face {
  font-family: 'proxima_nova_alt_thin-webfont';
  src: url('./static/fonts/proxima_nova_alt_thin-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'proxima_nova_black-webfont';
  src: url('./static/fonts/proxima_nova_black-webfont.woff') format('woff');
}

@font-face {
  font-family: 'proxima_nova_black-webfont';
  src: url('./static/fonts/proxima_nova_black-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'proxima_nova_bold-webfont';
  src: url('./static/fonts/proxima_nova_bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'proxima_nova_bold-webfont';
  src: url('./static/fonts/proxima_nova_bold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'proxima_nova_extrabold-webfont';
  src: url('./static/fonts/proxima_nova_extrabold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'proxima_nova_extrabold-webfont';
  src: url('./static/fonts/proxima_nova_extrabold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'proxima_nova_thin-webfont';
  src: url('./static/fonts/proxima_nova_thin-webfont.woff') format('woff');
}

@font-face {
  font-family: 'proxima_nova_thin-webfont';
  src: url('./static/fonts/proxima_nova_thin-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'proximanova-regular-webfont';
  src: url('.static/fonts/proximanova-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'proximanova-regular-webfont';
  src: url('./static/fonts/proximanova-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'SharpSansNo1-Bold';
  src: url('./static/fonts/SharpSansNo1-Bold.woff') format('woff');
}

@font-face {
  font-family: 'SharpSansNo1-Bold';
  src: url('./static/fonts/SharpSansNo1-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'SharpSansNo1Medium-Regular';
  src: url('./static/fonts/SharpSansNo1Medium-Regular.woff') format('woff');
}

/* @font-face {
  font-family: 'SharpSansNo1Medium-Regular';
  src: url('.static/fonts/SharpSansNo1Medium-Regular.woff2') format('woff2');
} */

@font-face {
  font-family: 'shsn-webfont';
  src: url('.static/fonts/shsn-webfont.woff') format('woff');
}

@font-face {
  font-family: 'shsn-webfont';
  src: url('.static/fonts/shsn-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'SharpSansNo1-BoldItalic';
  src: url('./static/fonts/SharpSansNo1-BoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'SharpSansNo1-Semibold';
  src: url('./static/fonts/SharpSansNo1-Semibold.woff') format('woff');
}